
<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row mb-1">
       <!-- 
        if you want to use breadcrumb, you can use this snippet
        import required modules in the ts file
       <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb> 
       --> 
      </div>
      <div class="content-body">
        <section id="drag-area">
          <div class="row">
            <div class="card shadow-lg p-4 rounded">
              <div class="card-header text-center">
                <h4 class="card-title">Placeholder Component</h4>
              </div>
              <div class="card-body">
                <p class="lead">
                  Please:
                </p>
                <ul class="list-unstyled">
                  <li>- Add your components in the <code>_components</code> folder</li>
                  <li>- Remove this component when you start building your app</li>
                  <li>- Use the same naming convention</li>
                  <li>- Use the same folder structure</li>
                </ul>
                <p class="mt-4">Thank you & Happy coding!</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      
    </div>
  </div>
  
  
  